        <app-mobheader></app-mobheader>

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">
            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                
                <app-sidebar></app-sidebar>

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
         
                    <app-topbar></app-topbar>

                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                        <!-- begin:: Subheader -->
                        <div class="kt-subheader kt-grid__item" id="kt_subheader">
                            <div class="kt-subheader__main">
                                <h3 class="kt-subheader__title">
                                    Courses
                                </h3>
                                <span class="kt-subheader__separator kt-hidden"></span> 
                                <div class="kt-subheader__breadcrumbs">
                                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                                    <span class="kt-subheader__breadcrumbs-separator"></span> <a href="" class="kt-subheader__breadcrumbs-link"> Training Map </a> <span class="kt-subheader__breadcrumbs-separator"></span> <a href="" class="kt-subheader__breadcrumbs-link"> Navy Aside </a> 
                                    <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                                </div>
                            </div>
                            <div class="kt-subheader__toolbar">
                            	<a role="button" (click)="listView($event)" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="kt-tooltip" title="List View" data-placement="top"><i class="flaticon-list-3"></i></a>
                            	<a role="button" (click)="gridView($event)" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="kt-tooltip" title="Grid View" data-placement="top"><i class="flaticon2-menu"></i></a>
                                <div class="kt-subheader__wrapper">
                                    <a href="#" class="btn btn-sm btn-elevate btn-brand btn-elevate" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Select dashboard daterange"> <span class="kt-opacity-7" id="kt_dashboard_daterangepicker_title">Today:</span>&nbsp; <span class="kt-font-bold" id="kt_dashboard_daterangepicker_date">Jan 11</span> <i class="flaticon-calendar-with-a-clock-time-tools kt-padding-l-5 kt-padding-r-0"></i> </a>
                                </div>
                            </div>
                        </div>
                        <!-- end:: Subheader -->
                        <!-- begin:: Content -->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <!--begin::Dashboard 1-->

                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 order-lg-12 order-xl-1">
                                    <!--begin::Portlet-->
                                    <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                        	<div class="col-sm-12 col-lg-12">
												<ul id="sortable">
												  <li class="ui-state-default">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-arrows-alt"></i>Item 1
                                                        </div>
                                                        <div class="col-md-5">
                                                            Description Section
                                                        </div>
                                                        <div class="col-md-2">
                                                            12/12/2222
                                                        </div>
                                                        <div class="col-md-2 text-right">
                                                            <i class="fa fa-times"></i>
                                                        </div>
												    </div>
                                                   </li> 
                                                  <li class="ui-state-default">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-arrows-alt"></i>Item 1
                                                        </div>
                                                        <div class="col-md-5">
                                                            Description Section
                                                        </div>
                                                        <div class="col-md-2">
                                                            12/12/2222
                                                        </div>
                                                        <div class="col-md-2 text-right">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                  </li>
												  <li class="ui-state-default">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-arrows-alt"></i>Item 1
                                                        </div>
                                                        <div class="col-md-5">
                                                            Description Section
                                                        </div>
                                                        <div class="col-md-2">
                                                            12/12/2222
                                                        </div>
                                                        <div class="col-md-2 text-right">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                  </li>
												  <li class="ui-state-default">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-arrows-alt"></i>Item 1
                                                        </div>
                                                        <div class="col-md-5">
                                                            Description Section
                                                        </div>
                                                        <div class="col-md-2">
                                                            12/12/2222
                                                        </div>
                                                        <div class="col-md-2 text-right">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    </div>
                                                  </li>
												</ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Portlet-->
                                </div>
                            </div>
                            <!--end::Row-->

                            <!--end::Dashboard 1-->
                        </div>
                        <!-- end:: Content -->
                    </div>
                    <!-- begin:: Footer -->
                    <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                        <div class="kt-footer__copyright"> 2018&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/keen" target="_blank" class="kt-link">Keenthemes Inc</a> </div>
                        <div class="kt-footer__menu"> <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">About</a> <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Team</a> <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Contact</a> </div>
                    </div>
                    <!-- end:: Footer -->
                </div>
                <!-- end:: Wrapper -->
            </div>
            <!-- end:: Page -->
        </div>
        <!-- end:: Root -->

        <!-- begin:: Scrolltop -->
        <div id="kt_scrolltop" class="kt-scrolltop"> <i class="la la-arrow-up"></i> </div>
        <!-- end:: Scrolltop -->

 
