
        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">
            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor " id="kt_wrapper">
         
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- end:: Subheader -->
                        <!-- begin:: Content -->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <!--begin::Dashboard 1-->

                            <div class="kt-portlet kt-portlet--mobile">

                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <!--begin: Datatable -->
                                    <div class="kt-grid kt-grid--desktop-xl kt-grid--ver-desktop-xl kt-wizard-v1 kt-wizard-v1--extend" id="kt_wizard_v4" data-ktwizard-state="step-first">
                                        <div class="kt-grid__item kt-wizard-v1__aside">
                                            <!--begin: Form Wizard Nav -->
                                                 <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
                                                <form class="kt-form">                                           
                                            <div class="kt-wizard-v1__nav">
                                                <div class="kt-wizard-v1__nav-items">
                                                    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current"> <span>1</span> </a>
                                                    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step"> <span>2</span> </a>
                                                    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step"> <span>3</span> </a>
                                                    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step"> <span>4</span> </a>
                                                </div>
                                                <div class="kt-wizard-v1__nav-details">

                                                    <div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info" data-ktwizard-state="current">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="kt-wizard-v1__nav-item-title"> Setup Your Account </div> 
                                                                <div class="kt-wizard-v1__nav-item-desc">
                                                                    To start off, please enter your username, email address and password. 
                                                                    <img src="../assets/media/wizard/undraw_checklist_7q37.svg" alt="image" class="kt-wizard-v1__nav-image"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">

                                                                <div class="kt-wizard-v1__content">
                                                                    <div class="kt-form__section kt-form__section--first">
                                                                        <div class="kt-heading kt-heading--md">Setup Your Account</div>
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group ">
                                                                                    <label>First Name</label>
                                                                                    <div class="kt-input-icon kt-input-icon--left">
                                                                                        <input type="text" class="form-control" placeholder="First Name" >
                                                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                            <span><i class="la la-user"></i></span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">Some help content goes here</span> 
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group ">
                                                                                    <label>Last Name</label>
                                                                                    <div class="kt-input-icon kt-input-icon--left">
                                                                                        <input type="text" class="form-control" placeholder="Last Name" >
                                                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                            <span><i class="la la-user"></i></span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">Some help content goes here</span> 
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group ">
                                                                                    <label>Email</label>
                                                                                    <div class="kt-input-icon kt-input-icon--left">
                                                                                        <input type="text" class="form-control" placeholder="Email" >
                                                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                            <span><i class="la la-mail-forward"></i></span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">Some help content goes here</span> 
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group ">
                                                                                    <label>Company</label>
                                                                                    <div class="kt-input-icon kt-input-icon--left">
                                                                                        <input type="text" class="form-control" placeholder="Company" >
                                                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                            <span><i class="la la-bank"></i></span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">Some help content goes here</span> 
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group ">
                                                                                    <label>Phone No</label>
                                                                                    <div class="kt-input-icon kt-input-icon--left">
                                                                                        <input type="text" class="form-control" placeholder="Phone No" >
                                                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                            <span><i class="la la-phone"></i></span>
                                                                                        </span>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">Some help content goes here</span> 
                                                                                </div> 
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info">

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="kt-wizard-v1__nav-item-title"> Setup Your Profile </div>
                                                                <div class="kt-wizard-v1__nav-item-desc">
                                                                    Please enter your name and contact number.Your mailing address is optional. 
                                                                    <img src="../assets/media/wizard/undraw_resume_folder_2_arse.svg" alt="image" class="kt-wizard-v1__nav-image"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">

                                                                <div class="kt-wizard-v1__content">
                                                                <div class="kt-heading kt-heading--md">Setup Your Profile</div>
                                                                    <div class="kt-form__section kt-form__section--first">
                                                                        <div class="row">
                                                                            <div class="col-lg-6">

                                                                                <div class="form-group">
                                                                                    <label>Name:</label>
                                                                                    <input type="text" class="form-control" name="name" placeholder="Enter your name" value="Nick Strong">
                                                                                    <span class="form-text text-muted">Please enter your full name</span> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Contact:</label>
                                                                                    <input type="text" class="form-control" name="phone" placeholder="Enter your phone number" value="1-541-754-3010">
                                                                                    <span class="form-text text-muted">Enter your contact number</span> 
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="kt-heading kt-heading--md">Mailing Address</div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Address Line 1:</label>
                                                                                    <input type="text" class="form-control" name="address1" placeholder="" value="Headquarters 1120 N Street Sacramento 916-654-5266">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>City:</label>
                                                                                    <input type="text" class="form-control" name="city" placeholder="" value="Polo Alto" >
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>State:</label>
                                                                                    <input type="text" class="form-control" name="state" placeholder="" value="California">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Address Line 2:</label>
                                                                                    <input type="text" class="form-control" name="address2" placeholder="" value="P.O. Box 942873 Sacramento, CA 94273-0001">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Zip Code:</label>
                                                                                    <input type="number" class="form-control" name="zip" placeholder="" value="942873">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Country:</label>
                                                                                    <select name="country" class="form-control">
                                                                                        <option value="">Select</option>
                                                                                        
                                                                                        <option value="EH">Western Sahara</option>
                                                                                        <option value="YE">Yemen</option>
                                                                                        <option value="ZM">Zambia</option>
                                                                                        <option value="ZW">Zimbabwe</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div> 

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info">
  
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="kt-wizard-v1__nav-item-title"> Setup Your Billing Details </div>
                                                                <div class="kt-wizard-v1__nav-item-desc">
                                                                    Please ensure your billing details are up-to-date and accurate for us to server you better. 
                                                                    <img src="../assets/media/wizard/undraw_live_collaboration_2r4y.svg" alt="image" class="kt-wizard-v1__nav-image"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="kt-wizard-v1__content">
                                                                    <div class="kt-form__section kt-form__section--first">
                                                                        <div class="row">
                                                                            <div class="col-xl-6">
                                                                                <div class="kt-heading kt-heading--md">Setup Billing Account</div> 
                                                                                <div class="form-group">
                                                                                    <label>Cardholder Name:</label>
                                                                                    <input type="text" class="form-control" name="billing_card_name" placeholder="" value="Nick Stone">
                                                                                    <span class="form-text text-muted">Please enter the cardholder name</span> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-6">
                                                                                <div class="form-group">
                                                                                    <label>Card number:</label>
                                                                                    <input type="number" class="form-control" name="billing_card_number" placeholder="" value="372955886840581">
                                                                                    <span class="form-text text-muted">Enter the card number</span> 
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xl-4">
                                                                                <div class="form-group">
                                                                                    <label>Exp Month:</label>
                                                                                    <select class="form-control" name="billing_card_exp_month">
                                                                                        <option value="">Select</option>
                                                                                        <option value="01">01</option>
                                                                                        <option value="02">02</option>
                                                                                        <option value="03">03</option>
                                                                                        <option value="04" selected>04</option>
                                                                                        <option value="05">05</option>
                                                                                        <option value="06">06</option>
                                                                                        <option value="07">07</option>
                                                                                        <option value="08">08</option>
                                                                                        <option value="09">09</option>
                                                                                        <option value="10">10</option>
                                                                                        <option value="11">11</option>
                                                                                        <option value="12">12</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-4">
                                                                                <div class="form-group">
                                                                                    <label>Exp Year:</label>
                                                                                    <select class="form-control" name="billing_card_exp_year">
                                                                                        <option value="">Select</option>
                                                                                        <option value="2018">2018</option>
                                                                                        <option value="2019">2019</option>
                                                                                        <option value="2020">2020</option>
                                                                                        <option value="2021" selected>2021</option>
                                                                                        <option value="2022">2022</option>
                                                                                        <option value="2023">2023</option>
                                                                                        <option value="2024">2024</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-4">
                                                                                <div class="form-group">
                                                                                    <label>CVV:</label>
                                                                                    <input type="password" class="form-control" name="billing_card_cvv" placeholder="" value="450">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="kt-heading kt-heading--md">Billing Address</div>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Address Line 1:</label>
                                                                                    <input type="text" class="form-control" name="billing_address1" placeholder="" value="Headquarters 1120 N Street Sacramento 916-654-5266">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>City:</label>
                                                                                    <input type="text" class="form-control" name="billing_city" placeholder="" value="Polo Alto" >
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>State:</label>
                                                                                    <input type="text" class="form-control" name="billing_state" placeholder="" value="California">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label>Address Line 2:</label>
                                                                                    <input type="text" class="form-control" name="billing_address2" placeholder="" value="P.O. Box 942873 Sacramento, CA 94273-0001">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Zip Code:</label>
                                                                                    <input type="number" class="form-control" name="billing_zip" placeholder="" value="942873">
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label>Country:</label>
                                                                                    <select name="billing_country" class="form-control">
                                                                                        <option value="">Select</option>
                                                                                        <option value="AF">Afghanistan</option>
                                                                                       
                                                                                        <option value="ZW">Zimbabwe</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info">

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="kt-wizard-v1__nav-item-title"> Finalize your purchase </div>
                                                                <div class="kt-wizard-v1__nav-item-desc">
                                                                    Please read our <a href="javascript:;">Terms and Conditions</a> and check to agree before you can complete your registration. 
                                                                    <img src="../assets/media/wizard/undraw_hiring_cyhs.svg" alt="image" class="kt-wizard-v1__nav-image"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="kt-wizard-v1__content">
                                                                    <div class="kt-form__section kt-form__section--first">
                                                                        <div class="kt-heading kt-heading--md">Finalize your purchase </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label>Membership</label>
                                                                                    <div class="kt-radio-inline">
                                                                                        <label class="kt-radio">
                                                                                            <input type="radio" name="radio2">
                                                                                            Training and OJT Training <span></span> 
                                                                                        </label>
                                                                                        <label class="kt-radio">
                                                                                            <input type="radio" name="radio2">
                                                                                            Training Only <span></span> 
                                                                                        </label>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">30 Days free trial and life time free updates</span> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label>Membership</label>
                                                                                    <div class="kt-radio-inline">
                                                                                        <label class="kt-radio">
                                                                                            <input type="radio" name="radio3">
                                                                                            OJT Training Only <span></span> 
                                                                                        </label>
                                                                                        <label class="kt-radio">
                                                                                            <input type="radio" name="radio3">
                                                                                            Save 10% by Paying early <span></span> 
                                                                                        </label>
                                                                                    </div>
                                                                                    <span class="form-text text-muted">30 Days free trial and life time free updates</span> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label class="kt-checkbox">
                                                                                        <input type="checkbox" name="promotions" value="1">
                                                                                        Click here to receive our latest promotions and news <span></span> 
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label class="kt-checkbox">
                                                                                        <input type="checkbox" name="accept" value="1">
                                                                                        Click here to indicate that you have read and agree to the terms presented in the <a href="javascript:;">Terms and Conditions</a> agreement <span></span> 
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                    </div>                               
                                                                </div> 
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="kt-form__actions">
                                                            <div class="btn btn-outline-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-prev"> Previous </div>
                                                            <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-submit"> Submit </div>
                                                            <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-next"> Next Step </div>
                                                        </div>                                                
                                                    </div>

                                                                                                        
                                                </div>
                                                        </form> 
                                                    </div>
                                            <!--end: Form Wizard Nav -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--end::Dashboard 1-->


                        </div>
                        <!-- end:: Content -->
                    </div>
                    <!-- begin:: Footer -->

                    <!-- end:: Footer -->
                </div>
                <!-- end:: Wrapper -->
            </div>
            <!-- end:: Page -->
        </div>
        <!-- end:: Root -->

        <!-- begin:: Scrolltop -->
        <div id="kt_scrolltop" class="kt-scrolltop"> <i class="la la-arrow-up"></i> </div>
        <!-- end:: Scrolltop -->




 
